@page "/details/{Id:int}"
@using FilmBox.App.ViewModel
@inject MediaDetailViewModel VM

<h3>Media Details</h3>

@if (VM.Dto == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        <li><b>Title:</b> @VM.Dto.Title</li>
        <li><b>Description:</b> @VM.Dto.Description</li>
        <li><b>Genre:</b> @VM.Dto.Genre</li>
        <li>
            <img src="@VM.Dto.ImageUrl"
                 alt="Media image"
                 style="max-width:300px;" />
        </li>
        <li><b>Publish Date:</b> @VM.Dto.PublishDate</li>
    </ul>

    <button @onclick="GoBack">⬅ Back</button>


    <button @onclick="CreateReview">Create Review</button>
}

@code {

       [Inject] NavigationManager Nav { get; set; }

    private void GoBack()
    {
        Nav.NavigateTo("media");
    }
   private void CreateReview()
   {
       Nav.NavigateTo($"/review/create/{Id}");
   }


    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await VM.LoadAsync(Id);
    }

    private async Task Load()
    {
        await VM.LoadAsync(Id);
    }
}
